extends layout.pug

block content
  article
    header
      h1= title

      time(data-date=date)
        a(href=permalink)

    section
      != contents

    footer
      if medium
        a(href=medium.link)
          | Cross-posed on Medium
          time(data-date=medium.date)
      nav
        //- // != console.log(posts)
        if posts.next
          a(href=posts.next.path) Next
        if posts.prev
          a(href=posts.prev.path) Prev